language: go
go_import_path: github.com/matthewhartstonge/hasher
go:
  - "1.16"

env:
  - GO15VENDOREXPERIMENT=1

script:
  - go test ./...
  - cd ./v2
  - go test ./...
  - cd ../v3
  - go test ./...
  - cd ../v4
  - go test ./...
